
@{
    Layout = null;
}

<!DOCTYPE html>




<html lang="tr">
<head>
    <title>Contact | ByFitness</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Latest compiled and minified CSS -->
    <link href="~/assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/js/bootstrap.min.js">
    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- StyleSheet link CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/mediaqueries.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
    <div class="sub-banner-section contact-banner-section">
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    @*<a class="navbar-brand" href="./index.html"><figure class="mb-0"><img src="~/assets/images/xtreme_fitness_logo.png" alt="" class="img-fluid"></figure></a>*@
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Test">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Hakkimizda">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Contact">Iletişim</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/Coach/ORnek">Trainers</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/Urun/Index">Ürünler</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/Egitim/Index">Eğitim</a>
                            </li>
                            @if (User.IsInRole("User"))
                            {


                                <li class="nav-item">
                                    <a class="nav-link" href="/Sepet/Index">Sepetim<label style="color:red">@{ Html.RenderAction("SepetCount", "Sepet");}</label></a>
                                </li>

                                <li class="nav-item active">
                                    <a class="nav-link" href="/Account/Guncelle">@Session["KullaniciEmail"]</a>
                                </li>
                            }

                            @if (User.IsInRole("A"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Kategori/Index">Kategoriler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Egitim/Index">Eğitim Ekle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/EgitimKategori/Index">Eğitim Ktg</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/Urun/StokGrafik">Stok Grafik</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Istatistik/Index">İstatistikler</a>
                                </li>

                            }
                            <li class="nav-item">
                                <a class="nav-link contact_btn" href="/Account/LogOut">Çıkış Yap</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- SUB BANNER SECTION -->
        <section class="banner-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="banner-section-content">
                            <h1 data-aos="fade-up" class="aos-init aos-animate">İLETİŞİM</h1>
                            <div class="btn_wrapper">
                                <span class="sub_home_span">Ana Sayfa </span>-<span class="sub_span"> İletişim</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- FIND US SECTION -->
    <section class="find_us_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="find_us_content">
                        <h5>ŞİMDİ BİZİ BULUN</h5>
                        <h2>ANTRENMAN İÇİN HAZIR</h2>
                    </div>
                </div>
            </div>
            <div class="row aos-init" data-aos="fade-up">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="find_us_box_content">
                        <div class="find_us_box_upper_portion">
                            <figure class="mb-0">
                                <img src="~/assets/images/contacts_find_us_1.png" alt="" class="img-fluid">
                            </figure>
                            <div class="find_us_box_image_content">
                                <figure class="mb-0"><img src="~/assets/images/contacts_find_us_location.png" alt="" class="img-fluid"></figure>
                            </div>
                        </div>
                        <div class="find_us_box_lower_portion">
                            <h5>KONUM</h5>
                            <p>Yıldız Sk 3473 . Kadıköy İstanbul</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="find_us_box_content">
                        <div class="find_us_box_upper_portion">
                            <figure class="mb-0">
                                <img src="~/assets/images/contacts_find_us_2.png" alt="" class="img-fluid">
                            </figure>
                            <div class="find_us_box_image_content">
                                <figure class="mb-0"><img src="~/assets/images/contacts_find_us_phone.png" alt="" class="img-fluid"></figure>
                            </div>
                        </div>
                        <div class="find_us_box_lower_portion">
                            <h5>Tel</h5>
                            <p><a href="tel:(+905542117591)" class="text-decoration-none">(+90 554 211 7591)</a></p>
                            <p><a href="tel:(+905542117591)" class="text-decoration-none">(+90 554 211 7591)</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="find_us_box_content">
                        <div class="find_us_box_upper_portion">
                            <figure class="mb-0">
                                <img src="~/assets/images/contacts_find_us_3.png" alt="" class="img-fluid">
                            </figure>
                            <div class="find_us_box_image_content">
                                <figure class="mb-0"><img src="~/assets/images/contacts_find_us_email.png" alt="" class="img-fluid"></figure>
                            </div>
                        </div>
                        <div class="find_us_box_lower_portion">
                            <h5>EMAIL</h5>
                            <p><a href="mailto:calalcavlan@gmail.com" class="text-decoration-none">calalcavlan@gmail.com</a></p>
                            <p><a href="mailto:calalcavlan@gmail.com" class="text-decoration-none">calalcavlan@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTACT US SECTION -->
    <section class="contact_us_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-lg-block d-md-flex align-items-center">
                    <div class="contact_us_image">
                        <figure class="mb-0">
                            <img src="~/assets/images/contact_us_image.png" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="contact_us_form_content aos-init" data-aos="fade-right">
                        <div class="alert alert-info"><h4>@ViewBag.Uyari</h4></div>
                        <h5>Biza Ulaşın</h5>
                        <h2>BİZE MESAJ GÖNDERİN &amp; TAKIMIMIZA KATIL</h2>
                        <form id="contactpage" method="POST" action="~/Home/Contact">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group mb-0">
                                        <input type="text" name="Ad" id="fullname" class="form-placeholder-color" placeholder="Ad">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group mb-0">
                                        <input type="tel" name="Tel" id="phonenum" class="form-placeholder-color form_style" placeholder="Tel">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group mb-0">
                                        <input type="email" name="Email" id="emailaddrs" class="form-placeholder-color" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group mb-0">
                                        <input type="text" name="Konu" id="title" class="form-placeholder-color form_style" placeholder="Konu">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class=" form-group mb-0">
                                        <textarea rows="3" name="Messaj" id="comment" class="form-placeholder-color" placeholder="Messaj"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="btn_wrapper">
                                <button type="submit" name="btnsubmit">Şimdi Gönder<i class="fa-solid fa-play"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTACT MAP SECTION -->
    <div class="contact_map_section">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12048.244908318262!2d29.0734937818729!3d40.980140117231215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac7b749c9ecdf%3A0x41ebb6401d7dbb82!2zS2FkxLFrw7Z5LCBTYWhyYXnEsSBDZWRpdCwgMzQ3MzQgS2FkxLFrw7Z5L0lzdGFuYm9lbA!5e0!3m2!1snl!2str!4v1678974200340!5m2!1snl!2str" width="1920" height="645" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <!-- FOOTER SECTION -->
    <section class="footer-section">
        <div class="container">
            <div class="middle-portion">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="about_col">
                            <a href="./index.html">
                                @*<figure>
                                    <img src="~/assets/images/footer_logo.png" alt="" class="img-fluid">
                                </figure>*@
                            </a>
                            <p>Lorem ipsum ...</p>
                            <ul class="list-unstyled">
                                <li class="icons"><a href="#"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a></li>
                                <li class="icons"><a href="#"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="icons"><a href="#"><i class="fa-brands fa-instagram mr-0" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-lg-block d-none">
                        <div class="hours_col">
                            <h6>OPENING HOURS</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <p>Pazartesi – Perşembe</p>
                                </li>
                                <li>
                                    <span>10.00 – 15.45</span>
                                </li>
                                <li>
                                    <p>Pazar – Perşembe</p>
                                </li>
                                <li>
                                    <span>17.30 – 00.00</span>
                                </li>
                                <li>
                                    <p>Cuma – Cumartesi</p>
                                </li>
                                <li>
                                    <span>17.30 – 00.00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 d-md-block d-none">
                        <div class="links_col">
                            <h6>HIZLI BAĞLANTILAR</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="/Home/Hakkimizda">Hakkımızda</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="/Egitim/Index">Eğitimler</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="~/Coach/ORnek">Trainers</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="./pricing.html">Pricing</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="~/Home/Contact">İletişim</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="contact_col">
                            <h6>BİZE ULAŞIN</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <p>Address:</p>
                                </li>
                                <li>
                                    <span>Yıldız Sk 34736. Kadıköy İstanbul</span>
                                </li>
                                <li>
                                    <p>Email:</p>
                                </li>
                                <li class="mail">
                                    <a href="mailto:calalcavlan@gmail.com" class="text-decoration-none">calalcavlan@gmail.com</a>
                                </li>
                                <li>
                                    <p>Tel:</p>
                                </li>
                                <li class="mb-0">
                                    <a href="tel:+905542117591" class="text-decoration-none">+90 554 211 7591</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-portion">
            <div class="copyright col-xl-12">
                <p>.....</p>
            </div>
        </div>
        <figure class="mb-0 footer_left_icon left_icon">
            <img src="~/assets/images/footer_left_icon.png" alt="" class="img-fluid">
        </figure>
        <figure class="mb-0 footer_right_icon right_icon">
            <img src="~/assets/images/footer_right_icon.png" alt="" class="img-fluid">
        </figure>
    </section>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/video-popup.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/assets/js/owl.carousel.js"></script>
    <script src="/assets/js/carousel.js"></script>
    <script src="/assets/js/video-section.js"></script>
    <script src="/assets/js/counter.js"></script>
    <script src="/assets/js/animation.js"></script>

</body>
</html>
