@using Fitness.ApplicationProject.Models.Data
@model List<TblEgitimKategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<a href="/EgitimKategori/Ekle" class="btn btn-primary">Ekle</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Adi</th>
        <th>Açıklama</th>
        @if (User.IsInRole("A"))
        {
            <th>Sil</th>
            <th>Düzenle</th>
        }

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EgitimKategoriAdi</td>
            
            <td>@item.Aciklama</td>
            @if (User.IsInRole("A"))
            {
                <td>@Html.ActionLink("Sil", "Sil", new { id = item.EgitimKategoriId }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyor musunuz?')" })</td>
                <td><a href="/EgitimKategori/Guncelle/@item.EgitimKategoriId" class="btn btn-warning"> Düzenle</a></td>
            }
        </tr>
    }
</table>

